.page {
  display: none;
}

.info {
  display: none;
}

.info-button {
  font-weight: bold;
  font-style: italic;
}

.info-button:hover {
  cursor: pointer;
}

.option-select {
  box-shadow:
  4px 4px yellow,
  4px -4px yellow,
  -4px 4px yellow,
  -4px -4px yellow;
}

.option-select h3 {
  color: blue;
}
